<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchStocks WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchStocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC8B074E1A7FF40B0061BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8B07631A7FF40C0061BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8B07771A7FF4210061BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8B07841A7FF4210061BFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
